body {
    background-image: url('images/HyperX\ backgrounds\ 3_HyperX_background_HyperX-Grunge-background-1_17_09_2014_00_09_17_09_2014\ 06_23.jpg');
    color: red;
}
 /* .color-red {
    color: red;
}
/*